language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false

node_js:
  - '10'
  - '8'
  - '6'

# Trigger a push build on master and greenkeeper branches + PRs build on every branches
# Avoid double build on PRs (See https://github.com/travis-ci/travis-ci/issues/1147)
branches:
  only:
    - master
    - /^greenkeeper.*$/

jobs:
  include:
    # run semantic-release and coverage in paralell
    - stage: release
      node_js: lts/*
      script: npm run semantic-release
    - node_js: lts/*
      script:
        - npm run test
        - npm run coverage:upload
